<h1>Register a new cat!</h1>
<form action="<%= cats_url %>" method="POST">
<label for="name"> Name: </label>
    <input type="text" id="name" name="cat[name]" value="<%= @cat.name %>"> 
<label for="birth_date"> Birth Date: </label>
    <input type="date" id="birth_date" name="cat[birth_date]" value="<%= @cat.birth_date %>"> 
</form>